<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/fa-all.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .bg-image {
            background-image: url("image/sun.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="container-fluid justify-content-center align-content-center">
    <div class="row">
        <div class="col-6 bg-image" ></div>
        <div class="col-1"></div>
        <div class="col-4 my-5">
            <h1>Forgot password!</h1>
            <div th:if="${notRegistered}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Not registered username !
            </div>
            <form method="post" th:action="@{/restore-password}"
                  class="was-validated" id="restore-from">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" name="username"
                           placeholder="Username" required maxlength="20" minlength="2">
                </div>
                <!--here must be action to restore password-->
                <input type="submit" value="Restore password" class="btn btn-outline-primary btn-block">
            </form>
            <hr>
            <div class="text-center">
                <a th:href="@{/login}" class="small">Already registered? Login!</a>
            </div>
            <div class="text-center">
                <a th:href="@{/register}" class="small">Not registered? Create an Account!</a>
            </div>
            <div class="text-center">
                <a th:href="@{/}"><h6>Home page</h6></a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>